<h1> Edit <%=@game.title %></h1>


<%= form_for(@game) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title%>
  <%= f.label :console %>
  <%= f.text_field :console %>
  <%= f.submit %>

<a href="/games">Cancel</a>
<%end%>
