<h1> Edit <%=@cheat.title %> Game</h1>

<%= form_for(@cheat) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title%>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>

<a href="/cheats">Cancel</a>
<%end%>
